In [1]:
import geocoder
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
df=pd.read_csv("avocados.csv")
df

,sa2_name_2011,Etimated Residue in tonnes,Number of agricultural businesses,Estimated total production in tonnes,REGION,CROP_TYPE,BIOMASS_DESCRIPTION,TIMEFRAME,SEASONALITY,TOTAL_RESIDUES,RESIDUE_TYPE,RESIDUE_UNIT
0,Lesmurdie - Bickley - Carmel,1.8,7.7,12.3,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,1.8,Wet Weight Avocado Residue,Tonnes
1,Baldivis,3.1,1.1,20.8,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,3.1,Wet Weight Avocado Residue,Tonnes
2,Augusta,4.5,4.6,30.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,4.5,Wet Weight Avocado Residue,Tonnes
3,Albany Region,7.1,1.2,47.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes
4,McKail - Willyung,7.1,1.2,47.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes
5,Harvey,7.6,2.3,50.5,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.6,Wet Weight Avocado Residue,Tonnes
6,Capel,7.8,2.2,52.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.8,Wet Weight Avocado Residue,Tonnes
7,Denmark,10.7,1.2,71.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,10.7,Wet Weight Avocado Residue,Tonnes
8,Roleystone,12.5,5.3,83.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,12.5,Wet Weight Avocado Residue,Tonnes
9,Gingin - Dandaragan,19.3,4.8,128.4,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,19.3,Wet Weight Avocado Residue,Tonnes
10,Donnybrook - Balingup,26.6,2.4,177.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,26.6,Wet Weight Avocado Residue,Tonnes
11,Chittering,29.3,1.0,195.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,29.3,Wet Weight Avocado Residue,Tonnes
12,Gelorup - Dalyellup - Stratham,33.2,1.2,221.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,33.2,Wet Weight Avocado Residue,Tonnes
13,Yanchep,112.3,6.9,748.9,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,112.3,Wet Weight Avocado Residue,Tonnes
14,Manjimup,320.2,23.4,2134.6,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,320.2,Wet Weight Avocado Residue,Tonnes
15,Busselton Region,960.3,5.7,6402.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,960.3,Wet Weight Avocado Residue,Tonnes
16,Pemberton,2128.2,31.3,14187.9,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,2128.2,Wet Weight Avocado Residue,Tonnes

In [2]:
df=df.rename(columns={"sa2_name_2011":"Ciudad","Etimated Residue in tonnes":"Residuos", "Estimated total production in tonnes":"Produccion","Number of agricultural businesses":"NumAgricultores"})
df

,Ciudad,Residuos,NumAgricultores,Produccion,REGION,CROP_TYPE,BIOMASS_DESCRIPTION,TIMEFRAME,SEASONALITY,TOTAL_RESIDUES,RESIDUE_TYPE,RESIDUE_UNIT
0,Lesmurdie - Bickley - Carmel,1.8,7.7,12.3,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,1.8,Wet Weight Avocado Residue,Tonnes
1,Baldivis,3.1,1.1,20.8,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,3.1,Wet Weight Avocado Residue,Tonnes
2,Augusta,4.5,4.6,30.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,4.5,Wet Weight Avocado Residue,Tonnes
3,Albany Region,7.1,1.2,47.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes
4,McKail - Willyung,7.1,1.2,47.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes
5,Harvey,7.6,2.3,50.5,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.6,Wet Weight Avocado Residue,Tonnes
6,Capel,7.8,2.2,52.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.8,Wet Weight Avocado Residue,Tonnes
7,Denmark,10.7,1.2,71.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,10.7,Wet Weight Avocado Residue,Tonnes
8,Roleystone,12.5,5.3,83.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,12.5,Wet Weight Avocado Residue,Tonnes
9,Gingin - Dandaragan,19.3,4.8,128.4,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,19.3,Wet Weight Avocado Residue,Tonnes
10,Donnybrook - Balingup,26.6,2.4,177.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,26.6,Wet Weight Avocado Residue,Tonnes
11,Chittering,29.3,1.0,195.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,29.3,Wet Weight Avocado Residue,Tonnes
12,Gelorup - Dalyellup - Stratham,33.2,1.2,221.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,33.2,Wet Weight Avocado Residue,Tonnes
13,Yanchep,112.3,6.9,748.9,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,112.3,Wet Weight Avocado Residue,Tonnes
14,Manjimup,320.2,23.4,2134.6,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,320.2,Wet Weight Avocado Residue,Tonnes
15,Busselton Region,960.3,5.7,6402.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,960.3,Wet Weight Avocado Residue,Tonnes
16,Pemberton,2128.2,31.3,14187.9,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,2128.2,Wet Weight Avocado Residue,Tonnes

In [3]:
df=df.replace('McKail - Willyung','McKail')
df=df.replace('Gelorup - Dalyellup - Stratham','Gelorup')
df=df.replace('Lesmurdie - Bickley - Carmel','Lesmurdie')
df=df.replace('/n','')
df

,Ciudad,Residuos,NumAgricultores,Produccion,REGION,CROP_TYPE,BIOMASS_DESCRIPTION,TIMEFRAME,SEASONALITY,TOTAL_RESIDUES,RESIDUE_TYPE,RESIDUE_UNIT
0,Lesmurdie,1.8,7.7,12.3,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,1.8,Wet Weight Avocado Residue,Tonnes
1,Baldivis,3.1,1.1,20.8,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,3.1,Wet Weight Avocado Residue,Tonnes
2,Augusta,4.5,4.6,30.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,4.5,Wet Weight Avocado Residue,Tonnes
3,Albany Region,7.1,1.2,47.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes
4,McKail,7.1,1.2,47.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes
5,Harvey,7.6,2.3,50.5,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.6,Wet Weight Avocado Residue,Tonnes
6,Capel,7.8,2.2,52.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.8,Wet Weight Avocado Residue,Tonnes
7,Denmark,10.7,1.2,71.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,10.7,Wet Weight Avocado Residue,Tonnes
8,Roleystone,12.5,5.3,83.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,12.5,Wet Weight Avocado Residue,Tonnes
9,Gingin - Dandaragan,19.3,4.8,128.4,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,19.3,Wet Weight Avocado Residue,Tonnes
10,Donnybrook - Balingup,26.6,2.4,177.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,26.6,Wet Weight Avocado Residue,Tonnes
11,Chittering,29.3,1.0,195.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,29.3,Wet Weight Avocado Residue,Tonnes
12,Gelorup,33.2,1.2,221.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,33.2,Wet Weight Avocado Residue,Tonnes
13,Yanchep,112.3,6.9,748.9,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,112.3,Wet Weight Avocado Residue,Tonnes
14,Manjimup,320.2,23.4,2134.6,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,320.2,Wet Weight Avocado Residue,Tonnes
15,Busselton Region,960.3,5.7,6402.0,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,960.3,Wet Weight Avocado Residue,Tonnes
16,Pemberton,2128.2,31.3,14187.9,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,2128.2,Wet Weight Avocado Residue,Tonnes

In [4]:
australia=geocoder.komoot("Australia").latlng
australia

[-24.7761086, 134.755]

In [5]:
df.Ciudad

0                 Lesmurdie
1                  Baldivis
2                   Augusta
3             Albany Region
4                    McKail
5                    Harvey
6                     Capel
7                   Denmark
8                Roleystone
9       Gingin - Dandaragan
10    Donnybrook - Balingup
11               Chittering
12                  Gelorup
13                  Yanchep
14                 Manjimup
15         Busselton Region
16                Pemberton
Name: Ciudad, dtype: object

In [6]:
Ciudad=df.Ciudad
Ciudad

0                 Lesmurdie
1                  Baldivis
2                   Augusta
3             Albany Region
4                    McKail
5                    Harvey
6                     Capel
7                   Denmark
8                Roleystone
9       Gingin - Dandaragan
10    Donnybrook - Balingup
11               Chittering
12                  Gelorup
13                  Yanchep
14                 Manjimup
15         Busselton Region
16                Pemberton
Name: Ciudad, dtype: object

In [7]:
import geocoder
g=geocoder.komoot("Lermurdie")
print(g.latlng)

[-32.0124634, 116.05152590979117]

In [8]:
GP=[]
for i in Ciudad:
    latlng=geocoder.komoot(i + ', Australia').latlng
    GP.append(latlng)
print(GP)

[[-31.9992594, 116.0185098], [-32.3299121, 115.8218124], [-34.3156059, 115.1605864], [-35.04411815, 117.81755325], [-34.9918242, 117.8444264], [-33.0806518, 115.8984193], [-33.55125, 115.5615253], [-34.9646543, 117.3591467], [-32.1123763, 116.0688121], [-31.3441233, 115.9076557], [-33.5760976, 115.8237078], [-31.3581548, 116.06738284500443], [-33.4185233, 115.6257735], [-31.549942, 115.6256848], [-34.2410278, 116.1462983], [-33.68652045, 115.39942637056441], [-34.4441275, 116.0346584]]

In [9]:
lat1, lng1 = [], []
for n in GP:
    lat1.append(n[0])
    lng1.append(n[1])
    
print(lng1,lat1)

[116.0185098, 115.8218124, 115.1605864, 117.81755325, 117.8444264, 115.8984193, 115.5615253, 117.3591467, 116.0688121, 115.9076557, 115.8237078, 116.06738284500443, 115.6257735, 115.6256848, 116.1462983, 115.39942637056441, 116.0346584] [-31.9992594, -32.3299121, -34.3156059, -35.04411815, -34.9918242, -33.0806518, -33.55125, -34.9646543, -32.1123763, -31.3441233, -33.5760976, -31.3581548, -33.4185233, -31.549942, -34.2410278, -33.68652045, -34.4441275]

In [10]:
lat1 = pd.Series(lat1)
lng1=pd.Series(lng1)
lat1 , lng1

(0    -31.999259
 1    -32.329912
 2    -34.315606
 3    -35.044118
 4    -34.991824
 5    -33.080652
 6    -33.551250
 7    -34.964654
 8    -32.112376
 9    -31.344123
 10   -33.576098
 11   -31.358155
 12   -33.418523
 13   -31.549942
 14   -34.241028
 15   -33.686520
 16   -34.444128
 dtype: float64, 0     116.018510
 1     115.821812
 2     115.160586
 3     117.817553
 4     117.844426
 5     115.898419
 6     115.561525
 7     117.359147
 8     116.068812
 9     115.907656
 10    115.823708
 11    116.067383
 12    115.625773
 13    115.625685
 14    116.146298
 15    115.399426
 16    116.034658
 dtype: float64)

In [11]:
lista = df['Produccion'].tolist()
lista

[12.3,
 20.8,
 30.1,
 47.1,
 47.2,
 50.5,
 52.0,
 71.1,
 83.1,
 128.4,
 177.2,
 195.0,
 221.2,
 748.9,
 2134.6,
 6402.0,
 14187.9]

In [12]:
import plotly.plotly as py
import pandas as pd

Produccion = df['Produccion']
Residuos=df['Residuos']
df.head()

,Ciudad,Residuos,NumAgricultores,Produccion,REGION,CROP_TYPE,BIOMASS_DESCRIPTION,TIMEFRAME,SEASONALITY,TOTAL_RESIDUES,RESIDUE_TYPE,RESIDUE_UNIT
0,Lesmurdie,1.8,7.7,12.3,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,1.8,Wet Weight Avocado Residue,Tonnes
1,Baldivis,3.1,1.1,20.8,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,3.1,Wet Weight Avocado Residue,Tonnes
2,Augusta,4.5,4.6,30.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,4.5,Wet Weight Avocado Residue,Tonnes
3,Albany Region,7.1,1.2,47.1,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes
4,McKail,7.1,1.2,47.2,SA2,Avocado,Avocado Residue,ABARES 2016 SA2 data,NaN,7.1,Wet Weight Avocado Residue,Tonnes

In [13]:
p=Produccion
nmin = min(p)
nmax = max(p)
np=[]
for i in p:
    n=(30+(i-nmin)/(nmax-nmin)*30)
    print(i, n)
    np.append(n)

12.3 30.0
20.8 30.0179886565648
30.1 30.037670363159233
47.1 30.073647676288836
47.2 30.073859307542538
50.5 30.080843138914755
52.0 30.08401760772031
71.1 30.124439177177685
83.1 30.149834927622113
128.4 30.24570388554982
177.2 30.34897993735715
195.0 30.38665030051638
221.2 30.44209768898671
748.9 31.558875814780325
2134.6 34.49145009735037
6402.0 43.52260221789554
14187.9 60.0

In [14]:
np

[30.0,
 30.0179886565648,
 30.037670363159233,
 30.073647676288836,
 30.073859307542538,
 30.080843138914755,
 30.08401760772031,
 30.124439177177685,
 30.149834927622113,
 30.24570388554982,
 30.34897993735715,
 30.38665030051638,
 30.44209768898671,
 31.558875814780325,
 34.49145009735037,
 43.52260221789554,
 60.0]

In [25]:
r=Residuos
rmin = min(p)
rmax = max(p)
nr=[]
for i in r:
    n=(30+(i-rmin)/(rmax-rmin)*30)
    print(i, n)
    nr.append(n)

1.8 29.977778718361126
3.1 29.980529924659272
4.5 29.983492762211124
7.1 29.988995174807414
7.1 29.988995174807414
7.6 29.990053331075934
7.8 29.99047659358334
10.7 29.996613899940744
12.5 30.000423262507407
19.3 30.01481418775925
26.6 30.030263269279608
29.3 30.035977313129603
33.2 30.044230932024043
112.3 30.211631253703548
320.2 30.65161263015322
960.3 32.00626428510962
2128.2 34.47790569711335

In [26]:
nr

[29.977778718361126,
 29.980529924659272,
 29.983492762211124,
 29.988995174807414,
 29.988995174807414,
 29.990053331075934,
 29.99047659358334,
 29.996613899940744,
 30.000423262507407,
 30.01481418775925,
 30.030263269279608,
 30.035977313129603,
 30.044230932024043,
 30.211631253703548,
 30.65161263015322,
 32.00626428510962,
 34.47790569711335]

In [27]:
colors = ['rgb(229,243,255)','rgb(189,205,231)','rgb(157,174,214)','rgb(33,111,181)']
cases = []
for i in range(0,1):
    cases.append(go.Scattergeo(
            lon = lng1,
            lat = lat1,
            text = Produccion,
            name = Ciudad,
            marker = dict(
                size = np,
                color = list(range(14)),
                line = dict(width = 0)
            )
        )
    )

In [28]:
for i in range(0,1):
    cases.append(go.Scattergeo(
            lon = lng1,
            lat = lat1,
            text = Residuos,
            name = Ciudad,
            marker = dict(
                size = nr,
                color =list(range(14)),
                line = dict(width = 0)
            )
        )
    )
4144

4144

In [19]:
cases

[{'type': 'scattergeo', 'lon': 0     116.018510
  1     115.821812
  2     115.160586
  3     117.817553
  4     117.844426
  5     115.898419
  6     115.561525
  7     117.359147
  8     116.068812
  9     115.907656
  10    115.823708
  11    116.067383
  12    115.625773
  13    115.625685
  14    116.146298
  15    115.399426
  16    116.034658
  dtype: float64, 'lat': 0    -31.999259
  1    -32.329912
  2    -34.315606
  3    -35.044118
  4    -34.991824
  5    -33.080652
  6    -33.551250
  7    -34.964654
  8    -32.112376
  9    -31.344123
  10   -33.576098
  11   -31.358155
  12   -33.418523
  13   -31.549942
  14   -34.241028
  15   -33.686520
  16   -34.444128
  dtype: float64, 'text': 0        12.3
  1        20.8
  2        30.1
  3        47.1
  4        47.2
  5        50.5
  6        52.0
  7        71.1
  8        83.1
  9       128.4
  10      177.2
  11      195.0
  12      221.2
  13      748.9
  14     2134.6
  15     6402.0
  16    14187.9
  Name: Produccion, dtype: float64, 'name': 0                 Lesmurdie
  1                  Baldivis
  2                   Augusta
  3             Albany Region
  4                    McKail
  5                    Harvey
  6                     Capel
  7                   Denmark
  8                Roleystone
  9       Gingin - Dandaragan
  10    Donnybrook - Balingup
  11               Chittering
  12                  Gelorup
  13                  Yanchep
  14                 Manjimup
  15         Busselton Region
  16                Pemberton
  Name: Ciudad, dtype: object, 'marker': {'size': [30.0,
    30.0179886565648,
    30.037670363159233,
    30.073647676288836,
    30.073859307542538,
    30.080843138914755,
    30.08401760772031,
    30.124439177177685,
    30.149834927622113,
    30.24570388554982,
    30.34897993735715,
    30.38665030051638,
    30.44209768898671,
    31.558875814780325,
    34.49145009735037,
    43.52260221789554,
    60.0],
   'color': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
   'line': {'width': 0}}},
 {'type': 'scattergeo', 'lon': 0     116.018510
  1     115.821812
  2     115.160586
  3     117.817553
  4     117.844426
  5     115.898419
  6     115.561525
  7     117.359147
  8     116.068812
  9     115.907656
  10    115.823708
  11    116.067383
  12    115.625773
  13    115.625685
  14    116.146298
  15    115.399426
  16    116.034658
  dtype: float64, 'lat': 0    -31.999259
  1    -32.329912
  2    -34.315606
  3    -35.044118
  4    -34.991824
  5    -33.080652
  6    -33.551250
  7    -34.964654
  8    -32.112376
  9    -31.344123
  10   -33.576098
  11   -31.358155
  12   -33.418523
  13   -31.549942
  14   -34.241028
  15   -33.686520
  16   -34.444128
  dtype: float64, 'text': 0        1.8
  1        3.1
  2        4.5
  3        7.1
  4        7.1
  5        7.6
  6        7.8
  7       10.7
  8       12.5
  9       19.3
  10      26.6
  11      29.3
  12      33.2
  13     112.3
  14     320.2
  15     960.3
  16    2128.2
  Name: Residuos, dtype: float64, 'name': 0                 Lesmurdie
  1                  Baldivis
  2                   Augusta
  3             Albany Region
  4                    McKail
  5                    Harvey
  6                     Capel
  7                   Denmark
  8                Roleystone
  9       Gingin - Dandaragan
  10    Donnybrook - Balingup
  11               Chittering
  12                  Gelorup
  13                  Yanchep
  14                 Manjimup
  15         Busselton Region
  16                Pemberton
  Name: Ciudad, dtype: object, 'marker': {'size': [30.0,
    30.0179886565648,
    30.037670363159233,
    30.073647676288836,
    30.073859307542538,
    30.080843138914755,
    30.08401760772031,
    30.124439177177685,
    30.149834927622113,
    30.24570388554982,
    30.34897993735715,
    30.38665030051638,
    30.44209768898671,
    31.558875814780325,
    34.49145009735037,
    43.52260221789554,
    60.0],
   'color': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
   'line': {'width': 0}}}]

In [29]:
inset = [
    go.Choropleth(
        locationmode = "city names",
        locations = GP,
        z = df['Produccion'],
        text = df['Ciudad'],
        colorscale = [[0,'rgb(0, 0, 0)'],[1,'rgb(0, 0, 0)']],
        autocolorscale = False,
        showscale = False,
        geo = australia
    ),
    go.Scattergeo(
        lon = [-32.0124634],
        lat = [116.05152590979117],
        text = ['Australia'],
        mode = 'texto',
        showlegend = False,
        geo = GP
    )
]

In [30]:
layout = go.Layout(
    title = 'Paltas en Australia',
    geo = dict(
        resolution = 50,
        scope = 'Australia',
        showframe = False,
        showcoastlines = True,
        showland = True,
        landcolor = "rgb(209, 229, 229)",
        countrycolor = "rgb(205, 255, 255)" ,
        coastlinecolor = "rgb(245, 255, 255)",
        projection = dict(
            type = 'Mercator'
        ),
        lonaxis = dict( range= [ -20.0, -25 ] ),
        lataxis = dict( range= [ 0.0, 16.0 ] ),
        domain = dict(
            x = [ 0, 1 ],
            y = [ 0, 1 ]
        )
    ),
    geo2 = dict(
        scope = 'australia',
        showframe = False,
        showland = True,
        landcolor = "rgb(229, 219, 229)",
        showcountries = False,
        domain = dict(
            x = [ 0, 1 ],
            y = [ 0, 1 ]
        ),
        bgcolor = 'rgba(155, 155, 155, 0.0)',
    ),
    legend = dict(
           traceorder = 'reversed'
    )
)

fig = go.Figure(layout=layout, data=cases)
py.iplot( fig, validate=False, filename='West Africa Ebola cases 2014' )

In [22]:
l=[10,20,100,2000]
nmin = min(l)
nmax = max(l)
for i in l:
    n=100+((i-nmin)/(nmax-nmin)*100)
    print(i, n)

10 100.0
20 100.50251256281408
100 104.52261306532664
2000 200.0

In [23]:
nr

[30.0,
 30.0179886565648,
 30.037670363159233,
 30.073647676288836,
 30.073859307542538,
 30.080843138914755,
 30.08401760772031,
 30.124439177177685,
 30.149834927622113,
 30.24570388554982,
 30.34897993735715,
 30.38665030051638,
 30.44209768898671,
 31.558875814780325,
 34.49145009735037,
 43.52260221789554,
 60.0]

In [24]:
np

[30.0,
 30.0179886565648,
 30.037670363159233,
 30.073647676288836,
 30.073859307542538,
 30.080843138914755,
 30.08401760772031,
 30.124439177177685,
 30.149834927622113,
 30.24570388554982,
 30.34897993735715,
 30.38665030051638,
 30.44209768898671,
 31.558875814780325,
 34.49145009735037,
 43.52260221789554,
 60.0]